.contact-form > input,
.contact-form > textarea,
.contact-form > button {
    background: $blue;
    color: $green;
    display: block;  
    font-size: $body;
    padding: $gutter;
    border: 1px solid $blue;
    transition: $fast;
    
    &:focus,
    &:hover {
        background: $black;
    }
}

button[type="submit"] {
    background: $green;
    color: $black;
    
    &:hover,
    &:focus {
        @include box-shadow;
        background: $green;
        color: $white;
    }
}

.contact-form > input,
.contact-form > button {
    flex: 1 100%;
}

.contact-form > textarea {
    resize: none;
    flex: 2;
    transition: $fast;
}

.message-sent {
    display: none;
}
