nav {
    position: fixed;
    left: -$menu-offset;
    width: $menu-offset;
    height: 100%;
    background: $red;
    transition: left $trans;
}

.menu {
  position: fixed;
  right: $gutter;
  top: $gutter;
  cursor: pointer;
}

.nav {
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: $white;
    padding: $gutter 0 $gutter $gutter;
    display: block;
    border-bottom: 1px solid;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.inner {
    float: right;
    width: 100%;
    transition: $trans;
}

nav.open {
    left: 0;
}

.open ~ .wrapper .inner {
    margin-right: -$menu-offset;
}