nav {
    position: fixed;
    left: -$menu-offset;
    width: $menu-offset;
    height: 100%;
    background: $red;
    transition: left $trans;
}

.menu {
    position: fixed;
    right: $gutter;
    top: $gutter;
    cursor: pointer;
    
    @include bp-one {
        display: none;
    }
}

.menu-lg {
    background: transparent;
    border-radius: 50% 0 0 50%;
    position: fixed;
    opacity: 0.5;
    right: 0;
    top: 10%;
    display: none;
    transition: $trans;
    
    &:hover {
        background: $red;
        opacity: 0.8;
    }

    @include bp-one {
        display: block;
    }
}

.nav {
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.nav a {
    text-decoration: none;
    padding: $gutter 0 $gutter $gutter;
    display: block;
    border-bottom: 1px solid;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.inner {
    float: right;
    width: 100%;
    transition: $trans;
}

nav.open {
    left: 0;
}

.open ~ .wrapper .inner {
    margin-right: -$menu-offset;
}
