.title,
.tagline {
    @include text-shadow;
}


.title {
    line-height: 1.2; // Fix spacing
}

.tagline {
    font-size: $h3;
    // font-weight: bold;
}

.container > h2,
.title {
    border-bottom: 2px solid;
    margin-bottom: $gutter;
}