.tagline {
    font-size: $h3;
}

.container > h2,
.title {
    border-bottom: 2px solid;
    margin-bottom: $gutter;
    padding-bottom: $gutter;
}

.title {
    @include text-shadow;
    font-size: $h2;
}

.daedalus {
    font-family: $dae;
    font-weight: 100;
}

.zero {
    font-weight: 900;
    font-family: $zero;
}