.hero-cta {
  float: right;
  margin-bottom: 3rem;
}

.hero-footer {
  clear: both;
  font-weight: 400;
  font-style: italic;
}

.hero .lead {
  max-width: 66%;
  text-align: left;
}

.hero .cta {
  margin: 0 1rem;
}