.btn {
    @include btn;
    background-color: $black;
    border: 1px solid;
    padding: $gutter-sm;
    margin: $gutter-sm;
    text-align: center;
    
    &:hover {
        background-color: transparent;
    }
}