.navbar {
    height: $height-navbar;
    width: 100%;
    border: 0 solid darken($color-secondary, 55%);
}

.navbar__top {
    background: linear-gradient(to bottom, transparent 40%, transparentize($color-primary, .95));
    border-bottom-width: 1px;
}

.navbar__bottom {
    background: linear-gradient(to top, transparent 40%, transparentize($color-primary, .95));
    border-top-width: 1px;
}