.nav {
    flex: 2;
    font-weight: bold;
}

.nav > ul {
    @include media($bp-0) {
        flex-direction: row;
    }
    display: flex;
    flex-direction: column;
}

.nav li {
    @include media($bp-1) {
        @include border(0);
        border-right-width: 1px;
    }
    flex: 1;
}

.nav a {
    &:hover {
        background-color: transparentize($color-secondary-dark, .6);
    }
    padding: $gutter-sm;
    display: block;
}