.nav {
    flex: 1;
}

.nav > ul {
    @include media($width-mobile) {
        flex-direction: row;
    }
    display: flex;
    flex-direction: column;
}

.nav li {
    flex: 1;
    border-left: 1px solid $color-secondary-dark;
}

.nav a {
    display: block;
    &:hover {
        background-color: $color-secondary-dark;
    }
}