.portrait {
    display: inline-block;
    margin: $gutter;
    position: relative;
    width: 150px;
}

.portrait_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}