.portrait {
    @include border;
    &::before {
        @extend %overlays;
        content: attr(data-name);
        top: 0;
    }
    &::after {
        @extend %overlays;
        content: attr(data-role);
        bottom: 0;
    }
    &:hover {
        &::before,
        &::after {
            opacity: .6;
        }
    }
    display: inline-block;
    margin: $gutter-sm;
    position: relative;
}