.section {
    @include section;
    @include media($bp-0) {
        &:nth-child(even) {
            > h2 {
                text-align: right;
            }
        }
    }
    @include media($bp-2) {
        &:nth-child(even) {
            float: left;
        }

        &:nth-child(odd) {
            float: right;
        }
        margin: $gutter-md;
        width: 80%;
    }
}

.panel {
    @include section($color-primary);
    @include text-shadow;
    color: $color-primary;
    display: block;
    font-family: $font-display;
    font-size: $h2;
    margin: auto;
    text-align: center;
    width: 35%;
}