.section {
    @include section;
    @include media($bp-2) {
        margin: $gutter 0;
    }
}

.panel {
    @include section($color-secondary);
    @include text-shadow(0, 3px, 0);
    color: $color-primary;
    display: block;
    font-family: $font-display;
    font-size: $h1;
    margin: auto;
    text-align: center;
    width: 60%;
}