// Typography
$font-family-sans-serif :  "Source Sans Pro", sans-serif !default;
$font-family-serif      :  "Raleway", serif !default;

$font-size-base     : 16px;
$navbar-font-weight : 900;

// Scaffolding
$body-bg : #212121;

// Color
$green : mix($body-bg, #090, 50%);
$blue  : mix($body-bg, #009, 50%);
$red   : mix($body-bg, #900, 50%);
$black : #000;
$white : #fff;

// Sidebar
$sidebar-color        : $black;
$sidebar-bg-color     : $green;
$sidebar-border-color : darken($sidebar-bg-color, 6.5%);