<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,, initial-scale=1" />
    <title>zDae | Connect. Develop. Evolve.</title>
    <link href='http://fonts.googleapis.com/css?family=Exo+2|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="assets/logo.png">
</head>
<body>
    
    <!-- Offcanvas Nav -->
    <nav>
        <ul class="nav">
            <li><a data-scroll href="#">Home</a></li>
            <li><a data-scroll href="#about">About</a></li>
            <li><a data-scroll href="#portfolio">Portfolio</a></li>
            <!-- <li><a data-scroll href="#services">Services</a></li> -->
            <!-- <li><a data-scroll href="#contact">Contact</a></li> -->
        </ul>

        <!-- Footer -->
        <footer>
            Crafted and Maintained by <a href="//zerodaedalus.com">ZeroDae</a>
        </footer>
    </nav>

    <!-- Main Wrapper -->
    <div class="wrapper">
        <div class="inner">

            <!-- Menu Icon -->
            <header>
                <a class="menu"><img src="assets/menu.svg" alt=""></a>
                <div class="menu-lg">
                    <ul>
                        <li><a data-scroll href="#"><img src="assets/home3.svg" alt=""></a></li>
                        <li><a data-scroll href="#about"><img src="assets/info.svg" alt=""></a></li>
                        <li><a data-scroll href="#portfolio"><img src="assets/briefcase.svg" alt=""></a></li>
                        <!-- <li><a data-scroll href="#services">Services</a></li> -->
                        <!-- <li><a data-scroll href="#contact">Contact</a></li> -->
                    </ul>
                </div>
            </header>

            <!-- Home -->
            <section id="intro" class="intro">
                <div class="container">
                    <img class="logo" src="assets/logo.svg" alt="Logo">
                    <h1 class="title">Zero Daedalus</h1>
                    <p class="tagline">Connect. Develop. Evolve.</p>

                    <div class="social">
                        <a href="mailto:captain@zerodaedalus.net"><img src="assets/envelop.svg" alt="Email"></a>
                        <a href="//www.facebook.com/zerodae"><img src="assets/facebook.svg" alt=""></a>
                        <a href="//twitter.com/ZeroDaedalus"><img src="assets/twitter.svg" alt=""></a>
                        <a href="//github.com/DaJoker29"><img src="assets/github.svg" alt=""></a>
                    </div>
                </div>
            </section>

            <!-- About -->
            <section id="about" class="about">
                <div class="container">
                    <h2>Very Good Websites</h2>
                    <p>We build the type of websites Ron Swanson would build, if he built websites. We're based out of the Central Valley in California and we're pretty awesome. Simple and effective best describe our work. Bringing old-fashioned craftsmanship into the digital era is our goal.</p>
                </div>
            </section>

            <!-- Portfolio -->
            <section id="portfolio" class="portfolio">
                <div class="container">
                    
                    <h2>Portfolio</h2>
                    <div class="flex">
                        <article class="project ifb">
                            <a href="//staging.zerodaedalus.com/ifb">
                                <img src="assets/ifb-hex.svg" alt="Interfaith Food Bank Website">
                                <h3>Interfaith Food Bank</h3>
                                <p>Website - Design</p>
                            </a>
                        </article>

                        <article class="project scramble">
                            <a href="//staging.zerodaedalus.com/scramble">
                                <img src="assets/s-hex.svg" alt="Scramble web">
                                <h3>Scramble</h3>
                                <p>Web App - Programming</p>
                            </a>
                        </article>
                    </div>
                </div>
            </section>

            <!-- Removing services and contacts for now
            <section id="services" class="services">
                <div class="container">
                    <h2>Services</h2>
                    <p>
                        We make stuff.
                    </p>
                </div>
            </section>

            <section id="contact" class="contact">
                <div class="container">
                    <h2>Reach us through...</h2>
                    <form action="">
                        <label for="name">Name</label>
                        <input name="name" type="text"> 

                        <label for="email">Name</label>
                        <input name="email" type="text">
                        
                        <label for="subject">Name</label>
                        <input name="subject" type="text">
                        
                        <label for="message">Name</label>
                        <input name="message" type="text">
                    </form>

                </div>
            </section>
        -->
        </div>
    </div>

    <!-- Scripts -->
    <script src="vendor/scroll.js"></script>
    <script src="script.js"></script>
    <script>
        smoothScroll.init();
    </script>
</body>
</html>