.hero {
    @include border(0);
    @include media($bp-1) {
        display: flex;
    }
    background-color: transparentize($color-primary-dark, .9);
    background-image: url(http://placehold.it/1280x720);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border-bottom-width: 1px;
    display: none;
    min-height: $height-hero;
    padding: $gutter 0;
    width: 100%;
}