.hero {
    background-attachment: fixed;
    background-image: url(http://placehold.it/1000x750);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: $height-hero;
    width: 100%;
}