// Color
$cream:                 #dddbac;
$gray:                  #dddddd;

$green-light:           #5edd65;
$green-dark:            #00dd0b;

$gold-light:            #ddbc5a;
$gold-dark:             #ddaa11;