// Text Shadow 
@mixin text-shadow($h: $gutter / 20, $v: $gutter / 20, $blur: $gutter / 20, $color: $black) {
    text-shadow: $h $v $blur $color 
}

// Box Shadow 
@mixin box-shadow($h: 0, $v: 0, $blur: $gutter / 20, $color: $black, $inset: false) {
    @if $inset {
        box-shadow: $inset $h $v $blur $color;
    } @else {
        box-shadow: $h $v $blur $color;
    }
}