// Colors
$red:           #7C151D;
$green:         #80A035;
$blue:          #226666;
$gold:          #AA9839;
$black:         #000000;
$white:         #ffffff;

// Typography
$h1:            4.236em;
$h2:            2.618em;
$h3:            1.618em;
$body:          1.5em;

$line-height:   1.5;
$line-height-h: 1.2;

$exo:           'Exo 2', sans-serif;
$open:          'Open Sans', sans-serif;
$dae:           'Rock Salt', cursive;
$zero:          'Coda', cursive;

// Spacing
$gutter:        1.5rem;

// Animation
$fast:          0.3s;
$slow:          1s;

// Media Queries
$one:           676px;

// Misc
$menu-offset:   75%;