// Text Shadow 
@mixin text-shadow($h: 1px, $v: 0, $blur: 1px, $color: $color-bg) {
  text-shadow: $h $v $blur $color;
}

// Buttons
@mixin btn($c: inherit) {
    color: $c;
    opacity: 0.7;
    &:hover {
        color: $c
    }
}

@mixin media($w) {
    @media only screen and (min-width: #{$w}) {
        @content;
    }
}

@mixin section ($c: $black, $t: .7, $g: $gutter) {
    background-color: transparentize($c, $t);
    border: 2px solid $c;
    border-radius: $g;
    margin: $g;
    padding: $g;
}