%bborder {
    border-bottom: 1px dashed;
}

%navbar {
    @include media($bp-1) {
        flex-flow: row wrap;
        align-items: baseline;
    }
    align-items: center;
    border: 0 solid $color-secondary-dark;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    text-align: center;
    width: 100%; 
}