// Color
$color-bg:              #222;
$color-text:            #ddd;

$color-primary:         #97D38D;
$color-primary-dark:    darken($color-primary, 55%);
$color-secondary:       #D4C96A;
$color-secondary-dark:  darken($color-secondary, 55%);
$color-accent:          #545993;

$color-success:         green;
$color-failure:         red;
$color-disabled:        gray;

$black:                 #000;

// Typography
$base-size:             16px; // Regular Text Size
$line-height:           1.5;

// Modular Scale ratio of 1.5
$h1:                    2rem; //Site Header
$h2:                    1.75rem; // Page Titles
$h3:                    1.5rem; // Content Subheadings
$small:                 0.75rem;

// Fonts
$font-display:          'Stint Ultra Expanded', cursive;
$font-serif:            'Alice', serif;
$font-sans:             'Pontano Sans', sans-serif;

// Grid
$gutter:                1.5rem;
$gutter-sm:             $gutter / 3;
$gutter-tiny:           $gutter-sm / 2;
$height-navbar:         $gutter * 3;
$height-hero:           $gutter * 20;

// Breakpoints
$bp-0:                  480px;
$bp-1:                  640px;
$bp-2:                  960px;
$bp-3:                  1200px;

// Transitions
$transition:            0.4s ease-out;