// Color
$color-bg:              #222;
$color-text:            #ddd;

$color-primary:         #97D38D;
$color-secondary:       #D4C96A;
$color-secondary-dark:  darken($color-secondary, 55%);
$color-accent:          #545993;

$color-success:         green;
$color-failure:         red;
$color-disabled:        gray;

$black:                 #000;

// Typography

$base-size:             16px; // Regular Text Size
$line-height:           1.5;

// Modular Scale ratio of 1.5
$h1:                    3.375rem; //Site Header
$h2:                    2.25rem; // Page Titles
$h3:                    1.5rem; // Content Subheadings
$small:                 0.667rem;

// Fonts
$font-display:          'Comfortaa', cursive;
$font-serif:            'Roboto Slab', serif;
$font-sans:             'Roboto Condensed', sans-serif;

// Grid
$width-desktop:         1200px;
$width-mobile:          480px;
$gutter:                1.5rem;
$gutter-small:          $gutter / 3;
$height-navbar:         $gutter * 3;

// Transitions
$transition:            0.3s;