html
  head
    title Zero Daedalus
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#44ff44")
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="https://use.typekit.net/eca4gel.css")
  body
    header.main-header
      a(href="")
        //- Need to move this to a local source.
        img.main-logo(src="https://www.zerodaedalus.com/wp-content/uploads/2017/09/512_emblem.png", alt="Zero Daedalus Logo")
      nav.main-nav
        ul
          li
            a(href="work") Work
          li
            a(href="about") About
          li
            a(href="contact") Contact Us
    block content