extends _base

block content
  h2 My name is Dewitt.
  div.bio-img
    img(src="http://via.placeholder.com/1200x800", alt="A picture of me.")
  .bio
    p I've been building websites since 2006. In 2012, I founded Zero Daedalus and serve as the lead designer/programmer.
    p While I handle most jobs solo, I will occasionally outsource certain tasks and responsbilities to a trusted network of designers, coders and artists.
  p.lead
    a.cta.gold(href="") Let's discuss a project.