extends _base

block content
  main.hero
    h2 Howdy! This is 
      |
      span.green Zero Daedalus*
    p.lead A web consultancy based in the California Central Valley.
    div.hero-cta
      a.cta.blue(href="") Learn More
      a.cta.gold(href="") See Our Work
    footer.hero-footer * zDae (Zee-Day) for short