/* Important: This file should only be included in the Guide Stylesheet */
// Imports
@import "util/vars";

// Rules
.color {
    & > div {
        width: $gutter-huge;
        height: $gutter-huge;
    }
    &::before {
        background-color: transparentize($color-bg, .5);
        content: attr(data-name);
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
    color: $color-text;
    position: relative;
}

#swatch-bg > div {
    background-color: $color-bg;
}

#swatch-text > div {
    background-color: $color-text;
}

#swatch-primary > div {
    background-color: $color-primary;
}

#swatch-primary-dark > div {
    background-color: $color-primary-dark;
}

#swatch-secondary > div {
    background-color: $color-secondary;
}

#swatch-secondary-dark > div {
    background-color: $color-secondary-dark;
}

#swatch-accent > div {
    background-color: $color-accent;
}

#colors+section>ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.display {
    font-family: $font-display;
}

.sans {
    font-family: $font-sans;
}

h1,
h2,
h3,
h4 {
    display: block;
    text-align: center;
}

.guide > section > h1 {
    text-decoration: underline;
}

.btt {
    font-size: $base-size;
}

ul ul{
    padding-left: $gutter;    
}

#nav {
    select {
        width: 100%;
    }
    background-color: $black;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    max-width: $bp-3;
}

.navbar__top,
.navbar__bottom {
    min-height: $gutter-lg;
}

.section {
    float: none !important;
    margin-right: auto;
    margin-left: auto;
}